* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}



.header{
   background-image: url(images/developer.png), url(images/header_bg.png);
   background-repeat: no-repeat;
   background-position: left, bottom right;
   background-color: #FFF8F3;
}

nav{
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;

}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.text-color{
    color:#FD6E0A;
}


nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    margin-left: 50px;
}

.btn-primary{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
}

.banner{
    display: flex;
    margin: 0px 200px;
    align-items: center;
}

.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}